version: "3.9"
services:
  nginx:   
    image: nginx:latest  
    ports:   
      - 3040:80 
    volumes:
      - ./html/:/var/www/html/
      - ./logs/nginx/:/var/log/nginx/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
  php:
    build: ./php
    volumes:
      - ./php/:/app
      - ./.htaccess:/var/www/html/.htaccess
    working_dir: /app
    command: php -S 0.0.0.0:8000 -t /app
    depends_on:
      - mysql
    ports:
      - "3050:8000"
    expose:
      - 8000
    env_file:
      - db.env
  mysql:
    image: mysql
    restart: always
    env_file:
      - db.env
    ports:
      - "9906:3306"
    volumes:
      - "./mysql/init.sql:/docker-entrypoint-initdb.d/1.sql"